
body {
    font-family: $font-text, sans-serif;
    line-height: 1.5;
    color: $color-body-text;
    background: $color-body-bg;
    @include screen-width("smallest") { font-size: $font-size-base };
    @include screen-width("phone") { font-size: $font-size-tablet };
    @include screen-width("tablet") { font-size: $font-size-laptop };
    @include screen-width("laptop") { font-size: $font-size-desktop };
    @include screen-width("desktop") { font-size: $font-size-huge };
}

h1, .h1 {font-size: 3.052rem;}
h2, .h2 {font-size: 2.441rem;}
h3, .h3 {font-size: 1.953rem;}
h4, .h4 {font-size: 1.563rem;}
h5, .h5 {font-size: 1.25rem;}
h6, .h6 {font-size: 1rem;}
  
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-heading, sans-serif;
    line-height: 1.2;
}